* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

body {
  background-color: var(--Eggshell);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 100px 200px;
  background-color: var(--White);
  height: 100%;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 15px;
}

.content-1 {
  padding: 25px;
}

.title-1 {
  font-family: "young serif", serif;
  font-size: 50px;
  font-weight: 100;
  color: var(--Dark-Charcoal);
  margin-bottom: 20px;
}

.sub-title-1 {
  font-family: "outfit", sans-serif;
  color: var(--Dark-Raspberry);
  margin-bottom: 10px;
}

.preparation {
  height: 100%;
  width: 100%;
  background-color: var(--Rose-White);
  margin-top: 25px;
  padding: 20px;
  border-radius: 8px;
}

.list-1 {
  padding-left: 25px;
}

.title-2 {
  font-family: "young serif", serif;
  font-weight: 100;
  color: var(--Nutmeg);
  margin-bottom: 12px;
}

p,
li {
  font-size: 16px;
  margin-top: 10px;
  font-family: "Outfit", sans-serif;
  color: var(--Wenge-Brown);
}

table {
  width: 100%;
  font-family: "Outfit", sans-serif;
  color: var(--Wenge-Brown);
  border-collapse: collapse;
}

td {
  padding: 12px 28px;
  text-align: left;
  border-bottom: 1px solid var(--Wenge-Brown);
}

tr:last-child td {
  border-bottom: none;
}

.table-bold {
  color: var(--Nutmeg);
}

@media (min-width: 325px) {
  body {
    background-color: transparent;
  }
  .container {
    margin: 0;
    background-color: var(--White);
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 100%;
    border-radius: initial;
  }
  .content-1 {
    padding: 25px;
  }
  .title-1 {
    font-family: "young serif", serif;
    font-size: 38px;
    font-weight: 100;
    color: var(--Dark-Charcoal);
    margin-bottom: 20px;
    line-height: 1;
  }
  p,
  li {
    line-height: 2;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Outfit", sans-serif;
    color: var(--Wenge-Brown);
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  body {
    background-color: var(--Eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin: 100px 200px;
    background-color: var(--White);
    height: 100%;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    border-radius: 15px;
  }
}
